:root {
    --primary-color: #0A1128;
    --white: #FFF;
    --lgray: #EEEEEE;
    --gap: 3rem;
    --cinza-es: rgb(211, 211, 211);
    --cor-tabela: rgba(95, 158, 160, 0.444);
    --logo: url(../img/logo30.svg);
}


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 3rem;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

table {
    width: 80%;
    text-align: left;
    min-width: 36rem;
}

table td,
table th {
    padding: 1rem;
    text-align: left;
    white-space: nowrap;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

tfoot td,
table th {
    background-color: var(--cor-tabela);
}


.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.white-bg {
    background: var(--white);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.2rem solid var(--lgray);
    z-index: 100;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

.menu h1 {
    margin-left: 1.5rem;
    font-size: 2.3rem;
    color: var(--primary-color);

}

.img {
    content: var(--logo);
}


.menu h1 a {
    color: inherit;

}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;

}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    position: relative;
}

.intro_space {
    top: -7rem;
}

@keyframes up-down {
    0% {
        transform: translateY(0%);
    }

    50% {

        transform: translateY(2%);
    }

    100% {

        transform: translateY(0%);
    }

}

@keyframes entrada {
    from {
        position: relative;
        right: 100%;
        opacity: 0;
    }

    to {
        right: -100%;

    }
}

.intro-text,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text {
    animation: entrada;
    animation-duration: 2s;

}

.updown img {
    animation: up-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.intro-text h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    margin-top: 5rem;
    line-height: 5rem;

}

.intro-img img {
    max-width: 80%;
    height: auto;

}


.top3-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 70rem;
}

.top3-content p {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.grid-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: contador;
}

.grid p {
    font-size: 1.4rem;
}

.grid h3 {
    font-size: 1.9rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.spacing-p {
    margin-bottom: 10rem;
}

.grid-content h2 {
    margin-bottom: 3rem;
}

.grid h3::before {
    counter-increment: contador;
    content: counter(contador);
    position: absolute;
    font-size: 5rem;
    font-style: italic;
    left: -0.1rem;
    transform: rotate(5deg);
}


.back-top-btn {
    position: fixed;
    right: 3rem;
    bottom: 2rem;

}

.back-top-btn::after {
    content: url(../img/up-arrow.png);
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    cursor: pointer;
}

.back-top-btn:hover::after {
    transition: all 1s ease-in-out;
    bottom: 100%;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;

}

.gallery-img img:hover {
    transform: rotate(4deg) scale(115%);
}

.price-content {
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--gap);
}

.price-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 6rem;
}

.price-text p {
    max-width: 85rem;
}

.form-img img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.form-img {
    position: relative;
}

.space {
    justify-content: center;
    padding-bottom: 6rem;
    display: flex;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    min-width: 320px;
    flex: 1 1 auto;
}

.form-group label {
    display: block;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 2px crimson;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white);
    outline: none;
    padding: 1.5rem 2rem;
    width: 100%;
}

.full-width {
    width: 100%;
}



.form-group button {
    border: 0.5rem solid var(--white);
    background: none;
    padding: 2rem 3rem;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}

.form-group button:hover {
    transition: all 300ms ease-in-out;
    background-color: var(--white);
    color: var(--primary-color);
    transform: scale(102%);
}

.form-grid legend {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.foot {
    text-align: center;
    display: flex;
    justify-content: center;

}

.foot a {
    padding: 0 5rem;
    color: var(--primary-color);
    display: block;
    position: relative;
    font-size: 1.6rem;

}

.foot a:hover {
    font-weight: bolder;
    transition: all 10ms ease-in-out;
    font-style: italic;


}

.foot a::after {
    content: '';
    width: 5rem;
    height: 0.1rem;
    position: absolute;
    background-color: var(--primary-color);
    left: -1rem;
    bottom: 50%;
}

.foot a::before {
    content: '';
    width: 5rem;
    height: 0.1rem;
    position: absolute;
    background-color: var(--primary-color);
    right: -1rem;
    bottom: 50%;
}

@media (max-width: 800px) {
    .menu-spacing {
        height: 10rem;
    }

    .intro-content {
        grid-template-columns: 1fr;
    }

    .grade {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-content {
        display: block;
    }

    .menu {
        bottom: 0;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu h1 {
        margin: 2rem 0;
    }

    .menu a {
        text-align: center;
    }

    .menu content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        right: 0;
        z-index: 2;
        right: 3rem;
        top: 3rem;
        width: 3rem;
        height: 3rem;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
        z-index: 200;
    }

    .close-menu:checked~.menu {
        display: block;

    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    .space {
        display: block;
    }

}

@media (max-width: 400px) {
    .form-group {
        min-width: 20rem;
    }

    .gallery-img {
        width: 100%;
        max-width: 16rem;
        max-height: 16rem;

    }

    .grade {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}